<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITemplate" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITask" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IStaff" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ILead" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISupplier" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IContact" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITime" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPurchaseOrder" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICustomFieldDefinition" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IClient" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICost" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IJob" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IQuote" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IInvoice" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://modernpractice2013.cloudapp.net/TemplateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplate" contract="TemplateSvc.ITemplate" name="BasicHttpBinding_ITemplate" />
      <endpoint address="http://modernpractice2013.cloudapp.net/TaskService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITask" contract="TaskSvc.ITask" name="BasicHttpBinding_ITask" />
      <endpoint address="http://modernpractice2013.cloudapp.net/StaffService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaff" contract="StaffSvc.IStaff" name="BasicHttpBinding_IStaff" />
      <endpoint address="http://modernpractice2013.cloudapp.net/LeadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILead" contract="LeadSvc.ILead" name="BasicHttpBinding_ILead" />
      <endpoint address="http://modernpractice2013.cloudapp.net/SupplierService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplier" contract="SupplierSvc.ISupplier" name="BasicHttpBinding_ISupplier" />
      <endpoint address="http://modernpractice2013.cloudapp.net/ContactService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContact" contract="ContactSvc.IContact" name="BasicHttpBinding_IContact" />
      <endpoint address="http://modernpractice2013.cloudapp.net/TimeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITime" contract="TimeSvc.ITime" name="BasicHttpBinding_ITime" />
      <endpoint address="http://modernpractice2013.cloudapp.net/PurchaseOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchaseOrder" contract="PurchaseOrderSvc.IPurchaseOrder" name="BasicHttpBinding_IPurchaseOrder" />
      <endpoint address="http://modernpractice2013.cloudapp.net/CustomFieldDefinitionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomFieldDefinition" contract="CustomFieldSvc.ICustomFieldDefinition" name="BasicHttpBinding_ICustomFieldDefinition" />
      <endpoint address="http://modernpractice2013.cloudapp.net/ClientService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClient" contract="ClientSvc.IClient" name="BasicHttpBinding_IClient" />
      <endpoint address="http://modernpractice2013.cloudapp.net/CostService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICost" contract="CostSvc.ICost" name="BasicHttpBinding_ICost" />
      <endpoint address="http://modernpractice2013.cloudapp.net/JobService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJob" contract="JobSvc.IJob" name="BasicHttpBinding_IJob" />
      <endpoint address="http://modernpractice2013.cloudapp.net/QuoteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuote" contract="QuoteSvc.IQuote" name="BasicHttpBinding_IQuote" />
      <endpoint address="http://modernpractice2013.cloudapp.net/InvoiceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvoice" contract="InvoiceSvc.IInvoice" name="BasicHttpBinding_IInvoice" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ChargifyApiKey" value="4aJEeQaMt8ptz2P4s7s" />
    <add key="ChargifyApiPassword" value="x" />
    <add key="ChargifyApiUrl" value="https://hubonetest.chargify.com" />
    <add key="ChargifyApiSharedKey" value="x6RLIVvZMijTJUbe0Dg7" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Management.Automation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>